<div class="container text-center">
    <div class="row">
        <div class="col-1">
            &nbsp;
        </div>
        <div class="col-1">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="col-1">
            &nbsp;
        </div>
        <div class="col bg-white">
            &nbsp;
        </div>
        <div class="col-1">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="col-1">
            &nbsp;
        </div>
        <div class="col bg-white">
            <p class="text-start fs-5">Cadastrar</p>
             <p>
                <form action="/cadastrar" method="POST">
                    <div class="mb-3 text-start">
                        <label class="form-label">Nome:</label>
                        <input type="name" name="nome" class="form-control" id="nome">
                    </div>
                    <div class="mb-3 text-start">
                        <label class="form-label">Endereco:</label>
                        <input type="text" name="endereco" class="form-control" id="endereco">
                    </div>
                     <div class="mb-3 text-start">
                        <label class="form-label">Bairro:</label>
                        <input type="text" name="bairro" class="form-control" id="bairro">
                    </div>
                    <div class="mb-3 text-start">
                        <label class="form-label">Cep:</label>
                        <input type="text" name="cep" class="form-control" id="cep">
                    </div>
                    <div class="mb-3 text-start">
                        <label class="form-label">Cidade:</label>
                        <textarea name="cidade" class="form-control" placeholder="" id="cidade" ></textarea>
                    </div>
                    <div class="mb-3 text-start">
                        <label class="form-label">Estado:</label>
                        <textarea name="estado" class="form-control" placeholder="" id="estado"></textarea>
                    </div>
                    <div class="mb-3 text-start">
                        <button type="submit" class="btn btn-primary">Cadastrar</button>
                    </div>
                </form>
            </p>
        </div>
        <div class="col-1">
            &nbsp;
        </div>
    </div>
</div>
